GATE_API_KEY=
GATE_SECRET=
BINANCE_API_KEY=
BINANCE_SECRET=
UPBIT_API_KEY=
UPBIT_SECRET=
BYBIT_API_KEY=
BYBIT_SECRET=
KIWOOM_BASE_URL=
KIWOOM_APP_KEY=
KIWOOM_APP_SECRET=
KIWOOM_ACCOUNT_NO=
KIWOOM_HTS_ID=
REDIS_URL=redis://localhost:6379
DATA_GO_KR_API_KEY=
DART_API_KEY=
WORKSPACE_SPREADSHEET_ID=
